/* Write your CSS here */
.img {
  height: 80px;
  width: 300px;
}

.btn {
  background-color: transparent;
  cursor: pointer;
}
.main11 {
  width: 50%;
}
.noting {
  align-self: flex-start;
}
.notings {
  width: 500px;
  text-align: center;
}
